/* Styles for the Header */
header {
  position: absolute;
  background-color: transparent;
  top: 0px;
  width: 100vw;
}

.gdave{
   font-size: 70px;
   font-family: 'Algerian';
   padding-left: 20px;
   color: #0a137d;
   text-decoration: none;
}

.navItems {
  padding-left: 30px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bradley Hand ITC';
  text-decoration: none;
}
.intro {
   background-image: url(./Assets/Images/gdave4.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 605px;
   margin-top: -20px;
}

.intro>p{
  padding-top: 100px;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .gdave{
    padding-top: 10px;
    font-size: 20px !important;
    padding-left: 12px;
  }
  .intro {
    height: 166px;
 }
}

@media  screen and (min-width: 321px) and  (max-width: 480px) {
  .gdave{
    font-size: 40px !important;
    padding-left: 14px;
 }
 .intro {
  height: 249px;
}
}

@media  screen and (min-width: 481px) and (max-width: 768px) {
  .gdave{
    font-size: 50px !important;
    padding-left: 16px;
 }
 .navItems {
  padding-left: 30px;
  font-size: 15px;
} 
.intro {
  height: 399px;
}
}

@media  screen and (min-width: 767px) and (max-width: 992px) {
  .gdave{
    font-size: 60px !important;
    padding-left: 18px;
 }
 .navItems {
  padding-left: 30px;
  font-size: 18px;
}
.intro {
  height: 515px;
}
}